body {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: red;
	font-weight: bold;
	background: url("../img/fon.jpg");
}

.Caption h1 {
	font-size: 48px;
	color: yellow;
	font-weight: bold;
}

.features-item p {
	line-height:
	font-size: 28px;
	color: green;
}

.information {
	background: url("../img/map.jpg");
}
}



